:root {
  --main-bg-color: #f2f5fc;
  --white-color: #ffffff;
  --black-text-color: #000000;
  --main-text-color: #dadadac5;
  --main-bg-input: #eceff893;
  --red-text-color: #e7192e;
  --red-text-color-auth: #eb5757;
  --main-shadow: 0px 10px 60px #aaaaaa;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  backdrop-filter: blur(5px);
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  background-color: rgb(43, 39, 39);
  z-index: 102;
}

.modalCloseBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  cursor: pointer;
  background-color: inherit;
  outline: none;
  margin: 2px;
  background-color: var(--main-text-color);
  color: var(--black-text-color);
  font-size: larger;
}
.modalCloseBtn:hover {
  border: 2px solid var(--red-text-color);
  background-color: var(--red-text-color);
  transition: 60ms linear;
}

.textContent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-top: 50px;
  margin-bottom: 20px;
}

.btnContainer {
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.btnWrapper {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-around;
}

.btn {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  background-color: var(--main-text-color);
  text-align: center;
  display: inline-block;
  border: 1px solid var(--red-text-color);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: 700;
  transition: background-color 300ms linear;
  color: var(--black-text-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--red-text-color);
  border: 0;
  color: var(--white-color);
}
::placeholder {
  color: var(--white-color);
}
.form__control {
  background-color: var(--main-bg-input);
  resize: vertical;
  margin-top: 5px;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 20px 0;
  z-index: 103;
}

.form__wrapper {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  align-items: center;
  z-index: 104;
}

.form__title {
  color: var(--main-text-color);
  font-size: 30px;
}

.form__group {
  height: 30px;
}

.form__control__textarea {
  background-color: var(--main-bg-input);
  width: 100%;
  resize: none;
  height: 40px;
  margin-top: 5px;
}

.label {
  font-size: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.form__control {
  padding: 10px;
  font-size: 15px;
  border: 2px solid var(--main-text-color);
  width: 100%;
  border-radius: 10px;
  appearance: none;
  outline: none;
}

.form__control:hover {
  box-shadow: 2px 2px 5px var(--main-shadow);
}
